# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.class
.DS_Store
*.xml
*.lst
*.iml
*.jar
*.original
*.zip
*.kotlin_module
9